#cont1 {
    width: 100%;

}

.icono {
  //margin-top:5px;
 // margin-left:100px;
  display: flex;
  }
  .icono1 {
 //   zoom: 1.0;
    margin-left: 235px;
    display: flex;
    }  
  #inputFile {
    display: none;
}

.subir-foto{
    max-width: 40px;
    margin-bottom: 10px;
    margin-right:150px;
}

.foto-generica{
    max-width: 130px;
    margin-bottom: 10px;
}

.list-check{
    margin-left:200px;
    
}
.list-check-c{
    margin-left:0px;
}



