<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Configurar servicios</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/main/store-manage']" color="primary" shape="round">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="crearStore( fStore )" #fStore="ngForm">

    <ion-col>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
      <div class="ion-text-center"><b>DATOS GENERALES</b></div>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
    </ion-col>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Servicios: </ion-label>
            <ion-select placeholder="Pueden ser mas de uno" name="servicios" [(ngModel)]="store.servicios"
              multiple="true" required>
              <ion-select-option [value]="servicio" *ngFor="let servicio of servicios">{{servicio}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Nombre comercial: </ion-label>
            <ion-input name="nombre" type="text" [(ngModel)]="store.nombre" size="50" max="50" maxlength="50" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Descripcion: </ion-label>
            <ion-textarea name="descripcion" type="text" [(ngModel)]="store.descripcion" size="500" max="500"
              maxlength="500" required></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-col>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
      <div class="ion-text-center"><b>CONTACTO</b></div>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
    </ion-col>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Telefono: </ion-label>
            <ion-input name="telefono" type="number" [(ngModel)]="store.telefono" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Email :</ion-label>
            <ion-input name="email" type="email" [(ngModel)]="store.email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-input name="instagram" type="text" [(ngModel)]="store.instagram"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-input name="facebook" type="text" [(ngModel)]="store.facebook"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-input name="twitter" type="text" [(ngModel)]="store.twitter"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-col>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
      <div class="ion-text-center"><b>DIRECCION</b></div>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
    </ion-col>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Dirección: </ion-label>
            <ion-input name="direccion" type="text" [(ngModel)]="store.direccion" size="100" max="100" maxlength="100"
              required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Localidad: </ion-label>
            <ion-input name="localidad" type="text" [(ngModel)]="store.localidad" size="50" max="50" maxlength="50"
              required></ion-input>
          </ion-item>
          <ion-item>
            <ion-select slot="start" placeholder="Provincia" name="provincia" [(ngModel)]="store.provincia" required>
              <ion-select-option [value]="item" *ngFor="let item of provincias">{{item}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Codigo Postal: </ion-label>
            <ion-input name="codigoPostal" type="text" [(ngModel)]="store.codigoPostal" size="10" max="10"
              maxlength="10" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-col>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
      <div class="ion-text-center"><b>HORARIOS DE ATENCION</b></div>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
    </ion-col>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Es horario de corrido</ion-label>
            <ion-checkbox name="esDeCorrido" [(ngModel)]="store.esDeCorrido"></ion-checkbox>
            <ion-label>Atención 24hs</ion-label>
            <ion-checkbox name="es24hs" [(ngModel)]="store.es24hs"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Horario desde : </ion-label>
            <ion-input name="horarioDesde" type="text" [(ngModel)]="store.horarioDesde" size="20" max="20"
              maxlength="20" required></ion-input>
            <ion-label>hasta : </ion-label>
            <ion-input name="horarioHasta" type="text" [(ngModel)]="store.horarioHasta" size="20" max="20"
              maxlength="20" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-select slot="start" placeholder="Dias" name="dias" [(ngModel)]="store.dias" multiple="true" required>
              <ion-select-option [value]="dia" *ngFor="let dia of dias">{{dia}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-col>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
      <div class="ion-text-center"><b>DATOS DE PROMOCIONES</b></div>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
    </ion-col>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Promocion: </ion-label>
            <ion-textarea name="promocion" type="text" [(ngModel)]="store.promocion" size="500" max="500"
              maxlength="500" required></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>Banner: </ion-label>
          </ion-item>
          <ion-card-content class="ion-text-center">
            <img class="foto-generica" src="{{imageTemporal? imageTemporal  : '/assets/avatars/icon.png'}}">
            <ion-item>
              <input type="file" accept=".png, .jpg,.jpeg" (change)="loadImagen($event)" id="inputFile">
              <label for="inputFile" class="labelInputFile">
                <ion-icon size="large" name="camera" class="icono1">
                </ion-icon>
              </label>
              <ion-button icon-only shape="round" color="danger" (click)="kickImagen()" class="icono" slot="end">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-fab horizontal="end" slot="fixed">
      <ion-button class="classFab" [disabled]="fStore.invalid" type="submit">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-fab>
  </form>
</ion-content>