<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Administrar Negocio</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/main/home']" color="primary" shape="round">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-col>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
      <div class="ion-text-center"><b>DATOS DEL COMERCIO</b></div>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
    </ion-col>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Nombre o Razón Social: </ion-label>
            <ion-label>{{userSubscription.nombre}} </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>CUIT/CUIL: </ion-label>
            <ion-label>{{userSubscription.cuitcuil}} </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Fecha inicio de actividad: </ion-label>
            <ion-label>{{userSubscription.fechaInicio}} </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Responsable a cargo: </ion-label>
            <ion-label>{{userSubscription.responsable}} </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Dirección física: </ion-label>
            <ion-label>{{userSubscription.direccionFisica}} </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <div id="cont1">
      <hr style="color :black; border-width:1px;" />
    </div>

    <div style="text-align: center;">
      <div>¡Configura tu comercio para que puedas ofrecer tu servicio a miles de cliente!</div>
      <ion-button style="margin-top: 20px;" class="ion-no-border" fill="outline" expand="block" shape="round" [routerLink]="['/main/main/home']">Configurar servicios
      </ion-button>
    </div>

    <div id="cont1">
      <hr style="color :black; border-width:1px;" />
    </div>

    <div>
      <ion-button style="margin-bottom: 30px; margin-top: 20px;" (click)="anularSubscripcion()" class="ion-no-border"
        fill="outline" expand="block" shape="round">Anular subscripción</ion-button>
    </div>
  </div>



</ion-content>