<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()" color="primary" shape="round">
        <ion-icon name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">PERFIL DE  MASCOTA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios" class="ion-no-border">
  <ion-grid fixed>

    <form (ngSubmit)="mascota._id">
      <ion-card>
        <ion-card-content class="ion-no-padding">
          <ion-item class="ion-text-center">
            <img src="{{ mascota.pics }}">
            <ion-label class="ion-text-uppercase">
              <h2><b>{{mascota.name}}</b></h2>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card-content>
        <ion-card-header class="ion-no-padding">
          <ion-card-subtitle class="ion-text-center">INFORMACION BASICA </ion-card-subtitle>
        </ion-card-header>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">Tipo : {{mascota.kind}} </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">Raza : {{mascota.breed}} </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">Fecha Nacimiento : {{mascota.dateOfBirth}} </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap"> Nota: {{mascota.notes}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">Propietario : {{usuario.nombre}} </ion-label>
        </ion-item>
      </ion-card-content>
    </form>

    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>REGISTRO HISTORIA CLINICA </ion-card-subtitle>
    </ion-card-header>

    <ion-card>
      <ion-list>
        <ion-item *ngFor="let hc of historiaClinica">
          <ion-label>
            <p>{{hc.fecha | date: 'dd/MM/yyyy'}}</p>
            <p>{{hc.codigo}}</p>
            <p>{{hc.tipos}}</p>
            <p>{{hc.descripcion}}</p>
          </ion-label>
          <ion-button icon-only shape="round" color="primary" [routerLink]="['history-view', hc._id]">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button>
          <ion-button icon-only shape="round" color="danger" (click)="presentAlertConfirm(mascota._id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>

  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button class="classFab" [routerLink]="['history-form', mascota._id]">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-fab>