img{

    max-width: 130px;
    margin-bottom: 10px;
}


ion-fab-button {
    --background: #f79c34 !important;
    color: #fff;
  }
  #cont1 {
    // margin-left: 10%;
     width: 100%;
   
   }
   ion-card-content{ border-bottom: 3px solid darkgray;padding: 0px;
   }