


#cont1 {
    width: 100%;
}

.icono {
  margin-top:2px;
  margin-left: 15px;
  }
  .icono1 {
 //   zoom: 1.0;
    margin-left: 210px;
    margin-top: -60px;
    }  
  #inputFile {
    display: none;
}

.subir-foto{
    max-width: 40px;
    margin-bottom: 10px;
    margin-right:150px;
}

.foto-generica{
    max-width: 130px;
    margin-bottom: 10px;
}
