<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()" color="primary" shape="round">
        <ion-icon name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios" class="ion-no-border">
  <ion-grid fixed>
    <form (ngSubmit)="mascota._id? update(fRegistro): save(fRegistro)" #fRegistro="ngForm">

      <ion-card >
      <ion-card-content class="ion-text-center">
        <div class="img-wrapper">
        <img class="foto-generica" src="{{mascota.pics? mascota.pics  : '/assets/avatars/icon.png'}}">
          <ion-button shape="round" color="danger" (click)="kickImagen()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <input type="file" accept=".png, .jpg,.jpeg" (change)="loadImagen($event)" id="inputFile">
          <label for="inputFile" class="labelInputFile">
            <ion-icon class="camera"  size="large" name="camera">
            </ion-icon>
          </label>
        </div>
      </ion-card-content>
    </ion-card>

      <ion-card-subtitle class="ion-text-center">
        <label>DATOS DE MIS MASCOTAS</label>
      </ion-card-subtitle>
      <ion-list>
        <ion-item>
          <ion-label>Nombre : </ion-label>
          <ion-input name="name" type="text" [(ngModel)]="mascota.name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-select placeholder="Seleccione mascota" name="kind" [(ngModel)]="mascota.kind" required>
            <ion-select-option *ngFor="let kind of kinds" [value]="kind">{{ kind }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select placeholder="Seleccione el Genero" expand="full" name="gender" [(ngModel)]="mascota.gender"
            required>
            <ion-select-option *ngFor="let gender of genders" [value]="gender">{{ gender }}</ion-select-option>
          </ion-select>
        </ion-item>

        <br>
        <ion-card-subtitle class="ion-text-center">
          <label>INFORMACION BASICA</label>
        </ion-card-subtitle>

        <ion-item>
          <ion-label>Raza : </ion-label>
          <ion-input name="breed" type="text" [(ngModel)]="mascota.breed" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-select slot="start" placeholder="Fecha de Nacimiento" name="month"
            [(ngModel)]="mascota.dateOfBirthDescription">
            <ion-select-option [value]="item" *ngFor="let item of ['Exacta','Aproximada']">{{item}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Fecha : </ion-label>
          <ion-input [value]="mascota.dateOfBirth"></ion-input>
          <ion-button fill="clear" id="open-date-input-2">
            <ion-icon icon="calendar"></ion-icon>
          </ion-button>
          <ion-popover trigger="open-date-input-2" show-backdrop="false">
            <ng-template>
              <ion-datetime #popoverDatetime2 presentation="date"
                (ionChange)="mascota.dateOfBirth = formatDate(popoverDatetime2.value)"></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
        <ion-item>
          <ion-label>Notas :</ion-label>
          <ion-input name="notas" type="text" [(ngModel)]="mascota.notes"></ion-input>
        </ion-item>
      </ion-list>


      <ion-fab horizontal="end" slot="fixed">
        <ion-button class="classFab" [disabled]="fRegistro.invalid" type="submit">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-fab>

    </form>
  </ion-grid>
</ion-content>