<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Mi cuenta</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/main/home']" color="primary" shape="round">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div>
      <ion-row>
        <ion-col>
          <ion-header class="logo">
            <img class="foto-generica" src="{{usuario.avatar? usuario.avatar : '/assets/avatars/icon.png'}}">
            <label>
              <b>{{usuario.nombre}} {{usuario.apellido}}</b>
            </label>
          </ion-header>
        </ion-col>
      </ion-row>
    </div>
    <ion-col>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
      <div class="ion-text-center"><b>DATOS PERSONALES</b></div>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
    </ion-col>

    <ion-item>
      <ion-label>Nombre: {{usuario.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Apellido : {{usuario.apellido}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telefono: {{usuario.telefono}}</ion-label>
    </ion-item>
    <ion-col>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
      <div class="ion-text-center"><b>DATOS DE LA CUENTA</b></div>
      <div id="cont1">
        <hr style="color :black; border-width:1px;" />
      </div>
    </ion-col>

    <ion-item>
      <ion-label>Email: {{usuario.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Perfil: {{usuario.perfil}}</ion-label>
    </ion-item>

    <div>
      <ion-button style="margin-bottom: 30px; margin-top: 20px;" [routerLink]="['account-form']" class="ion-no-border"
        fill="outline" expand="block" shape="round">Actualizar datos</ion-button>
    </div>
  </div>
  <div id="cont1">
    <hr style="color :black; border-width:1px;" />
  </div>

  <div style="text-align: center;" *ngIf="usuario.perfil==='Propietario'">
    <div>
      <h6>¿Queres promocionar tu negocio?</h6>
    </div>
    <div>¡Forma parte de la mayor red de servicios y productos para mascotas!</div>
    <ion-button style="margin-top: 20px;" class="ion-no-border" fill="outline" expand="block" shape="round" [routerLink]="['/main/main/user-subscription']">Subscribite como empresa
    </ion-button>
  </div>

  <div style="text-align: center;" *ngIf="usuario.perfil==='Empresa'">
    <ion-button style="margin-top: 20px;" class="ion-no-border" fill="outline" expand="block" shape="round" [routerLink]="anularSubscripcion()">Anular subscripción como empresa
    </ion-button>
  </div>
</ion-content>