.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#cont1 {
 // margin-left: 10%;
  width: 100%;

}

.foto-generica {
  max-width: 130px;
  margin-bottom: 10px;
}

.btnColor {
  margin-top: 20px;
  --border-color: #eea949;
  color: #eea949;
  margin-bottom: 20px;
  --background-activated: #fff;
}
ion-fab-button {
  --background: #f79c34 !important;
  color: #fff;
}