<ion-header>
    <ion-toolbar>
   
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
     
      <ion-title class="ion-text-capitalize">
        BIENVENIDO A PRETTY LUA </ion-title>
       
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
  
        
  <ion-grid fixed>
    
     
    
    <form (ngSubmit)="registrarMascota(fRegistro)" #fRegistro="ngForm">
      <ion-row>
        <ion-col>
          <img src="/assets/perro-1.jpg">
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-list>
                  <ion-item>
                  <ion-label>Nombre : </ion-label>
                  <ion-input name="nombre" 
                              type="text"
                              [(ngModel)]="registerMascota.nombre"
                              required></ion-input>
                  </ion-item>
    
                  <ion-item>
                  <ion-label>Raza:</ion-label>
                  <ion-input name="especie"
                              type="text"
                              [(ngModel)]="registerMascota.raza"
                              required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Sexo : </ion-label>
                    <ion-select name="raza"
                                type="text"
                                [(ngModel)]="registerMascota.sexo"
                                required>
                      <ion-select-option value="macho">Macho</ion-select-option>
                      <ion-select-option value="hembra">Hembra</ion-select-option>
                     
                    </ion-select>
                </ion-item>
              
          
                  <ion-item>
                    <ion-label>Año: </ion-label>
                    <select  name="anio"     [(ngModel)]="registerMascota.anio">
                      <option [value]="item" *ngFor="let item of listaAnio">{{item}}</option>
                      </select>
                 
                  </ion-item>

                    <ion-item>
                      <ion-label>Mes: </ion-label>
                      <select  name="mes" [(ngModel)]="registerMascota.mes">
                        <option [value]="item" *ngFor="let item of listaMes">{{item}}</option>
                        </select>

                    </ion-item>
                   
                

   
                  <ion-item>
                    <ion-label>Foto :</ion-label>
                    <ion-input name="foto"
                                type="photo"
                                [(ngModel)]="registerMascota.foto"
                                required></ion-input>
                    </ion-item>
                    <ion-list>
                      <ion-item >
                        <ion-thumbnail slot="start">
                          <ion-img [src]="" name="foto" [(ngModel)]="registerMascota.foto"></ion-img>
                        </ion-thumbnail>
                        <ion-label>foto</ion-label>
                      </ion-item>
                    </ion-list>
  
              </ion-list>
          </ion-col>
      </ion-row>
    
                 <ion-row>
                    <ion-col>
                        <ion-button  [disabled]="fRegistro.invalid" 
                                    type="submit"
                                    color="tertiary"
                                    shape="round">
                           Alta de Mascota
                        </ion-button>
                    </ion-col>
                </ion-row>
                
                </form>
            </ion-grid>
    <!--    
  
  
  
  <form (ngSubmit)="actualizarMascota(fActualizar)" #fActualizar="ngForm">
    <ion-grid fixed>
              <ion-row>
                  <ion-col>
                      <ion-list>
                          <ion-item>
                          <ion-label>Nombre: </ion-label>
                          <ion-input name="nombre" 
                                      type="text"
                                      [(ngModel)]="registerMascota.nombre"
                                      required></ion-input>
                          </ion-item>
            
                          <ion-item>
                          <ion-label>Especie</ion-label>
                          <ion-input name="especie"
                                      type="text"
                                      [(ngModel)]="registerMascota.especie"
                                      required></ion-input>
                          </ion-item>
            
                          <ion-item>
                          <ion-label>Raza :</ion-label>
                          <ion-input name="raza"
                                      type="text"
                                      [(ngModel)]="registerMascota.raza"
                                      required></ion-input>
                          </ion-item>
          
                          <ion-accordion-group>
                            <ion-accordion value="start">
                              <ion-item slot="header">
                                <ion-label>Fecha Nacimiento: </ion-label>
                                <ion-note slot="end" id="datetimeValue"></ion-note>
                              </ion-item>
                              <ion-datetime
                                id="datetime" name="fechaNacimiento"
                                slot="content"
                                presentation="date"
                                min="1989-06-04"
                                max="2024-08-23"
                                value="1994-12-15T13:47:20.789"
                                [(ngModel)]="registerMascota.fechaNacimiento"
                              ></ion-datetime>
                            </ion-accordion>
                          </ion-accordion-group>
                         
          
                      </ion-list>
                  </ion-col>
              </ion-row>
            
                         <ion-row>
                            <ion-col>
                                <ion-button  [disabled]="fActualizar.invalid" 
                                            type="submit"
                                            color="tertiary"
                                            shape="round">
                                   Actualizar de Mascota
                                </ion-button>
                            </ion-col>
                        </ion-row>
              </ion-grid>               
                        </form>
          
      -->  
  </ion-content>
  