<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()" color="primary" shape="round">
        <ion-icon name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Historia Clinica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios" class="ion-no-border">
  <ion-grid fixed>
    <ion-card class="ion-padding">
      <ion-avatar>
        <img src="{{foto}}">
      </ion-avatar>
      <ion-card-content class="lineaTexto">
        <ion-label>
          <h2><b class="texto">{{mascotas.name}}</b></h2>
          <p>{{mascotas.kind}}</p>
          <p>{{mascotas.breed}}</p>
          <p>{{mascotas.dateOfBirth}}</p>
        </ion-label>
 
      </ion-card-content>
        
    </ion-card>
    <form (ngSubmit)="historiaClinica._id? update(fRegistro): save(fRegistro)" #fRegistro="ngForm">
      <ion-item lines="none">
        <ion-select placeholder="Seleccione Tipo" name="tipo" [(ngModel)]="historiaClinica.tipos" required>
          <ion-select-option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Descripcion : </ion-label>
        <ion-input maxlength="50" name="name" type="text" [(ngModel)]="historiaClinica.descripcion" required>
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Comentario : </ion-label>
        <ion-textarea [(ngModel)]="historiaClinica.comentarios" name="comentario" placeholder="ingrese algun comentario"
          maxlength="500">
        </ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Adjuntos:</ion-label>
        <input type="file" accept=".pdf, .jpg,.jpeg" (change)="loadImagen($event)" id="inputFile">
        <label for="inputFile" class="labelInputFile">
          <ion-icon size="large" name="document-attach-outline" class="icono1">
          </ion-icon>
        </label>
        <ion-button icon-only shape="round" color="danger" (click)="kickImagen()" class="icono" slot="end">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-fab horizontal="end" slot="fixed">
        <ion-button class="classFab" [disabled]="fRegistro.invalid" type="submit">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-fab>

    </form>
  </ion-grid>


</ion-content>