<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>

    <ion-title class="ion-text-center">ACTUALIZAR DATOS</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/main/account']" color="primary" shape="round">
        <ion-icon name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid fixed>

  <form (ngSubmit)="actualizar( fActualizar )" #fActualizar="ngForm">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <div class="img-wrapper">
          <img src="{{imageTemporal}}">
          <ion-button shape="round" color="danger" (click)="kickImagen()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <input type="file" accept=".png, .jpg,.jpeg" (change)="loadImagen($event)" id="inputFile">
          <label for="inputFile" class="labelInputFile">
            <ion-icon class="camera" size="large" name="camera">
            </ion-icon>
          </label>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card-subtitle class="ion-text-center">
      <label>DATOS PERSONALES</label>
    </ion-card-subtitle>

    <ion-list>
      <ion-item>
        <ion-label>Nombre : </ion-label>
        <ion-input name="nombre" type="text" [(ngModel)]="usuario.nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Apellido: </ion-label>
        <ion-input name="apellido" type="text" [(ngModel)]="usuario.apellido" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Telefono: </ion-label>
        <ion-input name="telefono" type="number" [(ngModel)]="usuario.telefono" required></ion-input>
      </ion-item>
      <br>
      <ion-card-subtitle class="ion-text-center">
        <label>DATOS DE LA CUENTA</label>
      </ion-card-subtitle>
      <ion-item>
        <ion-label>Email :</ion-label>
        <ion-input name="email" type="email" [(ngModel)]="usuario.email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password :</ion-label>
        <ion-input name="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
  
    <ion-fab horizontal="end" slot="fixed">
      <ion-button class="classFab" type="submit">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-fab>
  </form>
</ion-grid>

</ion-content>