.slide-image {
    max-width: 100%;
    text-align: center;
    position: relative;
   
}

ion-row{
    height: 70px;
}

h1,h2{
    margin-top: 0;
}
page-home {
    ion-icon {
        font-size: 5em;
    }
}

ion-card{
    
    text-align: center;
   
}


.img-home{
    max-width: 60%;


}

.img-limpieza{
    max-width: 52%;


}

.img-shop{
    max-width: 50px;
    
    }

.img-limpieza{
    max-width: 50px;
    margin-bottom: 14px;
}
.img-emergencia{
 max-width: 50px;
}
.img-servicio{
    max-width: 40px;
    margin-bottom: 13px;
    }

.img-title {
    width: 50px;
    height: 50px;  
  }

.col-card{
   
}
.c{
  
}