<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img class="img-title" src="/assets/avatars/logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-slides id="slide-alto" [options]="slideOpts">

    <ion-slide *ngFor="let slide of slides">

      <img [src]="slide.img" class="slide-image">

    </ion-slide>
    <!-- <ion-slide><ion-tab-button (click)="onClick()" expand="block"></ion-tab-button>Volver</ion-slide> -->
  </ion-slides>

  
  <ion-grid>
    <ion-row>
      <ion-col  class="col-card" size="6">
          <ion-card class="c">
            <img class="img-emergencia" src="/assets/icon/emergencia.png">
          </ion-card>
      </ion-col>
      <ion-col size="6">
       
         <ion-card>
            <img class="img-servicio" src="/assets/icon/servicio.png">
          </ion-card>
      </ion-col>  
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img class="img-limpieza" src="/assets/icon/limpieza.png">
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img class="img-shop" src="/assets/icon/pet-shop.png">
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>