<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mascotas</ion-title>
    <app-logout slot="end"></app-logout>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios" class="ion-no-border">
  <!-- <ion-card> -->
    <ion-button [routerLink]="['pet-form']" class="btn-sub ion-no-border" color="tertiary" shape="round">Agregar</ion-button>
    <!-- </ion-card> -->
    <ion-card>
      <ion-item>
        <ion-grid>
          <ion-row class="divide">
            <ion-col size="3">
              Nombre
            </ion-col>
            <ion-col size="3">
              Tipo
            </ion-col>
            <ion-col size="3">
              Raza
            </ion-col>
            <ion-col size="2">
              
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let mascota of mascotas">
            <ion-col size="3">
              {{mascota.name}}
            </ion-col>
            <ion-col size="3">
              {{mascota.kind}}
            </ion-col>
            <ion-col size="3">
              {{mascota.breed}}
            </ion-col>
            <ion-col size="3">
              <ion-button color="warning" [routerLink]="['pet-form', mascota._id]">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
              <ion-button color="danger" (click)="delete(mascota)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
</ion-content>