.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 8px solid #ffff;
    display: flex;
    justify-content: center;

}
.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}
.note.danger{
    padding-left: 16px;
    color: #d14;
}
.flex-container {
    display: flex;
   
  }
  
  .flex-container > div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #cont1{
      width: 46%;
  }
  #cont2{
    width: 8%;
}
#cont3{
    width: 46%;
}
.btn-login{
    margin-top: 20px;
}
