<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-toolbar>
      <ion-title class="ion-text-center">Crear cuenta</ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/login']" color="primary" shape="round">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <form (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm">

 
        <ion-card>
          <ion-card-content class="ion-text-center">
            <div class="img-wrapper">
              <img  src="{{registerUser.avatar? registerUser.avatar : '/assets/avatars/user.png'}}">
              <ion-button shape="round" color="danger" (click)="kickImagen()">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              <input type="file" accept=".png, .jpg,.jpeg" (change)="loadImagen($event)" id="inputFile">
              <label for="inputFile" class="labelInputFile">
                <ion-icon class="camera" size="large" name="camera">
                </ion-icon>
              </label>
            </div>
          </ion-card-content>
        </ion-card>

    

      <ion-list>
        <ion-card-subtitle class="ion-text-center">
          <label>INFORMACION BASICA</label>
        </ion-card-subtitle>
        <ion-item>
          <ion-label position="floating">Nombre :</ion-label>
          <ion-input name="nombre" placeholder="nombre" type="text" [(ngModel)]="registerUser.nombre" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido : </ion-label>
          <ion-input name="apellido" placeholder="apellido" type="text" [(ngModel)]="registerUser.apellido" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefono : </ion-label>
          <ion-input name="telefono" placeholder="telefono" type="number" [(ngModel)]="registerUser.telefono" required>
          </ion-input>
        </ion-item>
        <br>
        <ion-card-subtitle class="ion-text-center">
          <label>DATOS DE LA CUENTA</label>
        </ion-card-subtitle>
        <ion-item>
          <ion-label position="floating">Email :</ion-label>
          <ion-input name="email" type="email" placeholder="email"
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="registerUser.email"
            required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password: </ion-label>
          <ion-input name="password" type="password" placeholder="password" [(ngModel)]="registerUser.password"
            required></ion-input>
        </ion-item>
        <ion-input name="perfil" type="hidden" placeholder="perfil" [(ngModel)]="registerUser.perfil" required>
        </ion-input>
      </ion-list>


      <ion-fab horizontal="end" slot="fixed">
        <ion-button class="classFab" [disabled]="fRegistro.invalid" type="submit" shape="round">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-fab>



    </form>
  </ion-grid>
</ion-content>