img {

  max-width: 130px;
  margin-top: 10px;
}

.item-datos {
  margin-bottom: -10px;
  margin-left: 150px;
}

.col-img {
  margin-top: 15px;
}

.item-img {
  margin-top: 10px;
}

.turno {
  margin-left: 15px;
}

.lineaTexto{
  margin-left: 30px;
  margin-top: -140px;
}