<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Términos y condiciones</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/main/user-subscription']" color="primary" shape="round">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center"><h1> <b>Terminos y condiciones del servicio</b></h1></div>
  <div class="ion-text-center"><h3> <b>Bienvenido a Pretty Lua</b></h3></div>

  <div>A continuación te brindamos algunas <b> definiciones</b> que te ayudarán a comprender este Acuerdo. Si no comprendes alguno de los términos de este Acuerdo, te sugerimos contactarnos antes de utilizar los Servicios.</div>
  <br>
  <div>
    <b>COMERCIO ADHERIDO:</b> son todas las personas físicas y/o jurídicas, comerciantes o prestadores de servicios que adquieran y/o usen los servicios y/o herramientas tecnológicas, que  PRETTY LUA brinda a través de https://prettyluamobile.web.app  Dentro de esta denominación se incluye a los usuarios y/o colaboradores  designados y habilitados por los COMERCIOS ADHERIDOS para el uso de  los servicios y/o herramientas tecnológicas, y/o otras funcionalidades que PRETTY LUA brinda a través de www.prettylua.com.
  </div>
<br>
  <div>
    <b>COMPRADOR:</b> son todas las personas físicas y/o jurídicas que adquieran/consuman bienes o servicios  que sean comercializados por el COMERCIO ADHERIDO, con tarjetas de crédito, de débito, cupones de pago, transferencias y/o cualquier otro medio de pago electrónico habilitado por el COMERCIO ADHERIDO.
  </div>
<br>
  <div>
  <b> MEDIO DE PAGO ELECTRÓNICO/EN LÍNEA:</b> son las diferentes tarjetas de crédito, tarjetas de débito,  cupones de pagos, y/u otras opciones de pago que incorpore PRETTY LUA, que permiten al COMPRADOR efectuar el pago en línea de un producto o servicio a cualquier COMERCIO ADHERIDO.
  </div>
<br>
  <div>
   <b> CUENTA PRETTY LUA:</b> Cuenta corriente del COMERCIO ADHERIDO en la plataforma PRETTY LUA, que forma parte de la cuenta recaudadora a la vista y con fondos disponibles de titularidad de PRETTY LUA, en una entidad financiera habilitada por el Banco Central de la República Argentina. En ésta PRETTY LUA recibe las fondos de los distintos medios de pagos para practicar las liquidaciones correspondientes y posterior transferencias a la cuenta bancaria designada por el COMERCIO ADHERIDO. 
  </div>
<br>
  <div>
   <b> ADQUIRENTES:</b> son las empresas que representan, gestionan y administran los diferentes Medios de Pago y definen las reglas generales de su operatoria (tasas de intercambio, plazos de pago, etc), aceptan o no una operación de pago, efectúan la liquidación primaria de las transacciones y resuelven las disputas y contracargos entre COMERCIOS y COMPRADORES.
  </div>
<br>
  <div>
   <b>AGREGADOR O FACILITADOR DE PAGOS - PRESTADOR DE SERVICIOS DE PAGOS (PSP):</b> empresas que cuentan con medios tecnológicos y estructuras administrativas mediante lo cual permiten el fácil y rápido acceso al COMERCIO ADHERIDO a los diversos medios de pagos y formas de vender. <b>PRETTY LUA</b> es un PSP y puede operar con diversos ADQUIRENTES en la Argentina.
  </div>
<br>
  <div>
   <b>Descripción general de este Acuerdo</b>
  </div>
<br>
  <div>
    Las partes acuerdan y aceptan que la relación convencional que se alcanza a través de los presentes es por el uso de los Servicios que brinda <b> PRETTY LUA </b>con el objeto de optimizar los recursos de las propias actividades del COMERCIO ADHERIDO.
  </div>
<br>
  <div>
    Este Acuerdo proporciona una descripción general de los Servicios que <b> PRETTY LUA </b>puede proporcionarte y consta de las siguientes secciones:
  </div>
<br>
  <div>
   <b> SECCIÓN A:</b> describe el proceso de registro, acceso a la plataforma y uso de su Cuenta <b>PRETTY LUA</b>.
  </div>
<br>
  <div>
   <b>SECCIÓN B:</b> describe los Servicios que ofrece <b>PRETTY LUA</b>.
  </div>
<br>
  <div>
   <b> SECCIÓN C:</b> describe la forma de operar los Servicios que ofrece <b>MOBBEX</b>.
  </div>
<br>
  <div>
   <b> SECCIÓN D:</b> describe el manejo, la administración y el uso adecuados de los datos generados durante su uso de los Servicios, incluidos los datos de sus Clientes.
  </div>
<br>
  <div>
   <b> SECCIÓN E:</b> describe la política antifraude y casos de fuerza mayor.
  </div>
<br>
  <div>
    <b>SECCIÓN A</b>
  </div>
<br>
  <div>
    <b> “PROCESO DE REGISTRO, ACCESO A LA PLATAFORMA Y USO DE LA CUENTA PRETY LUA”</b>
  </div>
<br>
  <div>
   <b>1.PROCESO DE REGISTRO</b>
  </div>
<br>
  <div>
   <b>1.1. Solicitud de registro</b>. El COMERCIO ADHERIDO que desee utilizar los Servicios debe registrarse en https://prettyluamobile.web.app y aceptar este Acuerdo. Una vez que el COMERCIO ADHERIDO haya registrado los datos obligatorios y PRETTY LUA haya verificado que se cumplan los requisitos de admisión que se detallan a continuación, habilitará la CUENTA PRETTY LUA al COMERCIO ADHERIDO.
  </div>
<br>
  <div>
    El proceso de registro, acceso a la plataforma y uso de la CUENTA PRETTY LUA puede ser realizado por el titular/propietario del servicio/comercio que requiera los 
  </div>
<br>
  <div>
    Se prohíbe el uso de los Servicios para realizar operaciones con el solo objeto de beneficiar al COMERCIO ADHERIDO, o que pueda ser considerado o entendido como adelanto en efectivo o préstamo, o ingreso de fondos sin contrapartida comercial.
  </div>
<br>
  <div>
  <b>1.2. Requisitos de admisión de registro:</b>
  </div>
<br>
  <div>
    1. Ser una persona con plena capacidad legal para contratar.
  </div>
<br>
  <div>
    2. Poseer un CUIT activo, sin observaciones o bloqueos de parte de la AFIP, con una actividad no prohibida por los medios de pago, e inscripciones activas en distintos tributos que sean consistentes y coherentes con la actividad fiscal declarada, todo el análisis será hecho bajo el único juicio y criterio de PRETTY LUA.
  </div>
<br>
  <div>
    3. Contar con una CBU (clave bancaria uniforme) habilitada exclusivamente para ese CUIT, en una entidad bancaria habilitada a operar en la República Argentina.
  </div>
<br>
  <div>
    4. No estar incluido en el Registro Público de personas y entidades vinculadas a actos de terrorismo y su financiamiento (RePET), puesto a disposición por la UNIDAD DE INFORMACIÓN FINANCIERA (UIF).
  </div>
<br>
  <div>
    5. No estar incluido en cualquier otro registro fiscal, financiero, judicial, etc. en situación anormal, irregular, inconsistente o sospechosa al solo juicio de PRETTY LUA.
  </div>
<br>
  <div>
    6. Poseer y registrar datos veraces y comprobables por PRETTY LUA de domicilio, correo electrónico, teléfono y cualquier otro que sea requerido por PRETTY LUA en el proceso de alta, ya que serán los canales de comunicación con el COMERCIO ADHERIDO para gestiones administrativas y de prevención del fraude. En el caso de que el COMERCIO ADHERIDO no posea datos reales PRETTY LUA se reserva el derecho de suspender la cuenta y todas las operaciones relacionadas con la misma por seguridad del COMPRADOR. Si el COMERCIO ADHERIDO tiene ventas pendientes de ser liquidadas, PRETTY LUA se reserva el derecho de retener dichos fondos durante 12 meses con el objetivo de cubrirse de contracargos.
  </div>
<br>
  <div>
  <b>1.3. Información y documentación de registro.</b> El COMERCIO ADHERIDO se obliga a mantener actualizada la información de registro requerida cuando ésta sea modificada, como también a requerimiento de  PRETTY LUA.
  </div>
<br>
  <div>
    Los datos personales pueden actualizarse en la opción CONFIGURACION DE COMERCIO del panel de PRETTY LUA o solicitándolo vía correo electrónico a https://prettyluamobile.web.app
  </div>
<br>
  <div>
    El COMERCIO ADHERIDO a través del presente Acuerdo declara bajo juramento que todos los datos personales denunciados o provistos son veraces, exactos, íntegros, actuales y auténticos, siendo garante y responsable de los mismos. El COMERCIO ADHERIDO acepta y reconoce expresamente que PRETTY LUA carece de responsabilidad de cualquier tipo, por la veracidad e integridad de los datos que ingresó o denunció.
  </div>
</ion-content>
