<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()" color="primary" shape="round">
        <ion-icon name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">HISTORIA CLINICA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>

    <ion-card>
      <ion-card-content class="ion-no-padding">
        <ion-item class="ion-text-center" lines="none">
          <img src="{{mascotas.pics? mascotas.pics  : '/assets/avatars/icon.png'}}">
          <ion-label class="texto">
            <h2><b>{{mascotas.name}}</b></h2>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card-content>
      <ion-list>
        <ion-card-header class="ion-no-padding">
          <ion-card-subtitle class="ion-text-center">DETALLE DE HISTORIA CLINICA</ion-card-subtitle>
        </ion-card-header>
      </ion-list>
      <ion-list class="list">
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">Tipo:{{historiaClinica.tipos}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">Descripcion:{{historiaClinica.descripcion}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">Comentarios: {{historiaClinica.comentarios}} </ion-label>

        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">Adjuntos:{{historiaClinica.adjuntos}} </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-grid>

</ion-content>