<ion-toolbar>
  <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

</ion-toolbar>

<ion-menu side="start"  menuId="mainMenu" contentId="main">
<ion-content>
<div class="menu-header-bg">Menu</div>
  <div class="header-content">
    <img src="/assets/logo.svg" alt="">
    <ion-label>
      <h2> Bienvenidosss </h2>
    </ion-label>
  </div>



  <ion-list class="menu-items" lines="none">
 
    <ion-menu-toggle  *ngFor="let c of componentes | async" >
      <ion-item [routerLink] = "c.redirectTo">
       <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
       {{c.name}}</ion-item>
       
      </ion-menu-toggle>
  
  
    
   
  </ion-list>
 
</ion-content>

</ion-menu>
